<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.softminds.goodroad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <meta-data android:name="com.kakao.sdk.AppKey" android:value="434a8422ce9c7bdda01be01f1ebd089e"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider android:name="android.support.v4.content.FileProvider"
            android:authorities="net.softminds.goodroad.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.NoticeActivity"
            android:label="@string/activity_title_notice"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.IntroActivity"
            android:label="@string/menu_introduction"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity android:name=".activity.NewsActivity"
            android:label="@string/menu_news"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity android:name=".activity.ManualActivity"
            android:label="@string/menu_roadkill_manual"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity android:name=".activity.PhoneActivity"
            android:label="@string/menu_roadkill_phone"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
    </application>

</manifest>